<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
xmlns:android="http://schemas.android.com/apk/res/android"
           id="cordova-plugin-browser"
      version="2.0.0">

    <name>BrowserPlugin</name>
    <description>Open browser activity in app</description>
    <license>MIT</license>
    <keywords>cordova</keywords>
    <repo>https://github.com/chemerisuk/cordova-plugin-browser</repo>
    <issue>https://github.com/chemerisuk/cordova-plugin-browser/issues</issue>

    <js-module src="www/BrowserPlugin.js" name="BrowserPlugin">
        <merges target="cordova.plugins.browser" />
    </js-module>

    <engines>
        <engine name="cordova" version=">=7.1.0"/>
        <engine name="cordova-android" version=">=7.0.0"/>
        <engine name="cordova-ios" version=">=4.5.0"/>
    </engines>

    <platform name="ios">
        <config-file target="config.xml" parent="/*">
            <feature name="BrowserPlugin">
                <param name="ios-package" value="BrowserPlugin" />
            </feature>
        </config-file>

        <config-file target="*-Info.plist" parent="CFBundleURLTypes">
            <array>
                <dict>
                    <key>CFBundleTypeRole</key>
                    <string>Editor</string>
                    <key>CFBundleURLName</key>
                    <string>BUNDLE_ID</string>
                    <key>CFBundleURLSchemes</key>
                    <array>
                        <string>$PACKAGE_NAME</string>
                    </array>
                </dict>
            </array>
        </config-file>

        <header-file src="src/ios/BrowserPlugin.h" />
        <source-file src="src/ios/BrowserPlugin.m" />

        <framework src="SafariServices.framework" weak="true"/>
    </platform>

    <platform name="android">
        <preference name="ANDROIDX_BROWSER_VERSION" default="1.0.+"/>

        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="BrowserPlugin">
                <param name="android-package" value="by.chemerisuk.cordova.browser.BrowserPlugin" />
            </feature>
        </config-file>

        <config-file target="AndroidManifest.xml" parent="/*">
            <uses-permission android:name="android.permission.INTERNET" />
        </config-file>

        <config-file target="AndroidManifest.xml" parent="/manifest/application/activity">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="$PACKAGE_NAME"/>
            </intent-filter>
        </config-file>

        <dependency id="cordova-support-android-plugin" version="~1.0.0"/>

        <framework src="androidx.browser:browser:$ANDROIDX_BROWSER_VERSION"/>

        <source-file src="src/android/BrowserPlugin.java"
            target-dir="src/by/chemerisuk/cordova/browser/" />
        <source-file src="src/android/res/anim/slide_in_left.xml" target-dir="res/anim" />
        <source-file src="src/android/res/anim/slide_in_right.xml" target-dir="res/anim" />
        <source-file src="src/android/res/anim/slide_out_left.xml" target-dir="res/anim" />
        <source-file src="src/android/res/anim/slide_out_right.xml" target-dir="res/anim" />
    </platform>

</plugin>
